




{% extends 'blank_layout.html' %}

{% block banner %}

{% load static %}

<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="{% static 'images/image1.png' %}" width="100%">
            </div>
            <div class="col-2">
                <div class="form-container">
                    <div class="form-btn">
                        <span onclick="login()">Login</span>
                        <span onclick="register()">Register</span>
                        <hr id="Indicator">
                    </div>
                    <form id="LoginForm" action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <input type="text" name="name" placeholder="Username">
                        <!-- <input type="password" name="password" placeholder="Password">
                        <button type="submit" class="btn">Login</button> -->
                        <a href="">Forget Password</a>
                    </form>

                    <form id="RegForm" action="{% url 'register' %}" method="post">
                        {% csrf_token %}
                        <input type="text" name='name' placeholder="Username" maxlength="20" minlength="5" required>
                        <input type="email" name='email' placeholder="email" maxlength="30" minlength="5" required>

                        <select id="role" name="role">
                            <option value="user">User</option>
                            <!-- <option value="admin">Admin</option> -->
                            <option value="moderator">Moderator</option>
                        </select>
                        <!-- <input type="email" name="email" placeholder="Email" required>
                        <input type="password" name="password" placeholder="Password" maxlength="8" minlength="5" required>
                        <input type="text" name="address" placeholder="Address"  required>
                        <input type="text" name="phone" placeholder="Phone" maxlength="8" minlength="5" required> -->
                        <button type="submit" class="btn">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock banner %}

{% block extrascripts %}
<script>
    var MenuItems = document.getElementById("MenuItems");
    MenuItems.style.maxHeight = "0px";
    function menutoggle() {
        if (MenuItems.style.maxHeight == "0px") {
            MenuItems.style.maxHeight = "200px"
        } else {
            MenuItems.style.maxHeight = "0px"
        }
    }
</script>

<script>
    var LoginForm = document.getElementById("LoginForm");
    var RegForm = document.getElementById("RegForm");
    var Indicator = document.getElementById("Indicator");

    function register(){
        RegForm.style.transform = "translateX(0px)";
        LoginForm.style.transform = "translateX(0px)";
        Indicator.style.transform = "translateX(100px)";
    }

    function login(){
        RegForm.style.transform = "translateX(300px)";
        LoginForm.style.transform = "translateX(300px)";
        Indicator.style.transform = "translateX(0px)";
    }
</script>
{% endblock extrascripts %}